<template>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="row col-md-4">
        <widget-weather :city-name="cityName"/>
      </div>
      <div class="row col-md-4">
        <widget-current-city-time/>
      </div>
      <div class="row col-md-4">
        <widget-weather :city-name="anotherCityName"/>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      cityName: 'Tel Aviv',
      anotherCityName: 'Kharkiv'
    }
  },
  mounted () {
    // $.getJSON('http://api.openweathermap.org/data/2.5/weather?q=london&appid=35cdf36cfbcf7b82cefb2fe3a7a1c801', function(data){
    //     console.log(data);
    // });
    // getJSONP('http://ipinfo.io', function(data){
    //     console.log(data);
    // });
    // axios.get('http://ipinfo.io')
    //     .then(response => {
    //         console.log(response);
    //     });
    // console.log(Get('http://ipinfo.io'));
    // console.log(httpGet('http://ipinfo.io'));
    // $.getJSON('http://api.openweathermap.org/data/2.5/weather?q=london&appid=35cdf36cfbcf7b82cefb2fe3a7a1c801', function(data){
    //     console.log(data);
    // });
  }
}
</script>
