<template>
  <div class="container">
    <div
      class="row justify-content-center align-items-center"
      style="height: 100vh;">
      <div class=" col-md-4">
        <widget-weather :city-name="cityName"/>
      </div>
      <div class=" col-md-4">
        <widget-current-city-time/>
      </div>
      <div class=" col-md-4">
        <widget-weather :city-name="anotherCityName"/>
      </div>
    </div>
  </div>
</template>

<script>
import WidgetWeather from './widgets/WidgetWeather.vue'
import WidgetCurrentCityTime from './widgets/WidgetCurrentCityTime.vue'

export default {
  components: {
    WidgetWeather,
    WidgetCurrentCityTime
  },
  data () {
    return {
      cityName: 'Tel Aviv',
      anotherCityName: 'Kharkiv'
    }
  },
  mounted () {
    // $.getJSON('http://api.openweathermap.org/data/2.5/weather?q=london&appid=35cdf36cfbcf7b82cefb2fe3a7a1c801', function(data){
    //     console.log(data);
    // });
    // getJSONP('http://ipinfo.io', function(data){
    //     console.log(data);
    // });
    // axios.get('http://ipinfo.io')
    //     .then(response => {
    //         console.log(response);
    //     });
    // console.log(Get('http://ipinfo.io'));
    // console.log(httpGet('http://ipinfo.io'));
    // $.getJSON('http://api.openweathermap.org/data/2.5/weather?q=london&appid=35cdf36cfbcf7b82cefb2fe3a7a1c801', function(data){
    //     console.log(data);
    // });
  }
}
</script>

<style scoped>
    .full-width {
        width: 100%;
    }
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
