<template>
  <div class="col-md-12">
    <div class="row widget-clock">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <i class="far fa-clock fa-4x"/>
      </div>
      <div class="col-md-8 text-center">
        <div class="row">
          <div class="col-md-12">
            {{ country }}
            <hr>
          </div>
          <div class="col-md-12">
            <div v-show="time">
              {{ time }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      country: '',
      time: ''
    }
  },
  mounted () {
    fetch(`http://ip-api.com/json`)
      .then((resp) => resp.json())
      .then((data) => {
        this.country = data.city
      })
      .catch(function (error) {
        console.log('Request failed', error)
      })

    // clock time widget, displays  time
    let clockVar = (() => {
      return () => {
        this.time = (new Date()).toLocaleTimeString()
      }
    })()
    setInterval(clockVar, 1000)
  }
}
</script>

<style scoped>
    .widget-clock{
        border: 1px solid black;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 15px;
        -webkit-box-shadow: inset 0 0 3px #000, 0 0 3px #000;
        -moz-box-shadow: inset 0 0 3px #000, 0 0 3px #000;
        box-shadow: inset 0 0 3px #000, 0 0 3px #000;
        background: rgb(250, 250, 250);
    }
</style>
