<template>
  <div class="col-md-12">
    <div class="row text-center widget-weather">
      <div class="col-md-12">
        <i class="fa fa-building"/>
        {{ cityName }}
        <hr>
      </div>
      <div class="col-md-12">
        <i
          v-show="kelvinToCelcius < 0"
          class="fa fa-snowflake-o "/>
        <i
          v-show="kelvinToCelcius > 10"
          class="fa fa-sun"/>
        {{ kelvinToCelcius }} °C
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cityName: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      kelvinToCelcius: 0
    }
  },
  mounted () {
    fetch(`http://ip-api.com/json`)
      .then((resp) => resp.json())
      .then((data) => {
        this.country = data.city
      })
      .catch(function (error) {
        console.log('Request failed', error)
      })
    fetch(`https://api.openweathermap.org/data/2.5/weather?q=${this.cityName}&appid=${this.WEATHER_API_SECRET}`)
      .then((resp) => resp.json())
      .then((data) => {
        let celcius = data.main.temp - 273.15
        this.kelvinToCelcius = celcius.toFixed(2)
      })
  }
}
</script>

<style scoped>
  .widget-weather{
    border: 1px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    -webkit-box-shadow: inset 0 0 3px #000, 0 0 3px #000;
    -moz-box-shadow: inset 0 0 3px #000, 0 0 3px #000;
    box-shadow: inset 0 0 3px #000, 0 0 3px #000;
    background: rgb(250, 250, 250);
  }
</style>
